body {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.game-setup,
.game-play,
.game-over {
    padding-top: 65px; 
}

.jumbotron{
    height: 80vh;
    padding: 10px;
}

.new-game-button{
    margin-right: 5px;
}

.join-game-button{
    margin-left: 5px;
}

/* ---------coding tictactoe below---------- */

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .8);
}

.board{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
}


.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.circle,
.cell.waiting {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):not(.waiting):hover::before,
.board.x .cell:not(.x):not(.circle):not(.waiting):hover::after,
.board.circle .cell:not(.x):not(.circle):not(.waiting):hover::before {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):not(.waiting):hover::before,
.board.x .cell:not(.x):not(.circle):not(.waiting):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size)* .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):not(.waiting):hover::before{
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):not(.waiting):hover::after{
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):not(.waiting):hover::before,
.board.circle .cell:not(.x):not(.circle):not(.waiting):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):not(.waiting):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):not(.waiting):hover::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: #eeeeee;
}



/* body {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.main-content {
    margin: auto;
    max-width: 500px;
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr 80px auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
.main-content h1 {
    grid-column: 1 / span 2;
}
.main-content button {
    border: none;
    color: white;
    background-color: #007dff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.main-content button:hover {
    opacity: 0.8;
}
.main-content button:active {
    opacity: 0.6;
}

.main-content button:disabled {
    opacity: 0.5;
    background-color: grey;
    cursor: auto;
}
.main-content input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
}
.main-content div.new-game-setup, .main-content div.join-game-setup {
    grid-column: 1 / span 2;
}
#button-continue {
    grid-column: 1 / span 2;
    margin-top: 20px;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */